src/app/Resources/Nedvol/Examples/def.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.independer.nl/autoverzekering/2014/09/17" xmlns="http://www.independer.nl/autoverzekering/2014/09/17" elementFormDefault="qualified">
	<xs:element name="Contractdocument" type="Contractdocument"/>
	<xs:complexType name="Contractdocument">
		<xs:sequence>

			<xs:element name="AL">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AL_FUNCTIE" type="ADNFUN"/>
						<xs:element name="AL_DATACAT" type="ADNAFM"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!-- Status van de aanvraag -->
			<xs:element name="XG" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<!-- Status toelichting -->
						<xs:element name="XG_STATUST" type="XGSTXT"/>

						<!-- Status melding -->
						<xs:element name="XM" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<!-- Toelichting op de status -->
									<xs:element name="XM_STATTXT" type="XMSTXT"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="PP">
				<xs:complexType>
					<xs:sequence>
						<!--Hier kan een uniek aamvraag ID worden geplaatst, deze wordt verder niet gebruikt-->
						<xs:element name="PP_EXTERN" type="EXTERN"/>
						<!-- Maatschappij code zoals in ANVA bekend. Voor Lancyr L901-->
						<xs:element name="PP_MYAAND" type="PORMAA"/>
						<!-- Incasso wijze A = Acceptgiro, I = Automatische Incasso -->
						<xs:element name="PP_INCWIJZ" type="ADNINC"/>
						<!-- Betaaltermijn in maanden: 1 = maandelijks, 12 = jaarlijks -->
						<xs:element name="PP_BETTERM" type="ADNBTM"/>
						<!-- Aanvraagdatum -->
						<xs:element name="PP_AANVDAT" type="DATUM"/>
						<!-- Ingangsdatum-->
						<xs:element name="PP_INGDAT" type="DATUM"/>
						<!-- Productcode-->
						<xs:element name="PP_PRODUCT" type="xs:int" />
						<!-- Productnaam (Autoverzekering) -->
						<xs:element name="PP_PRODNM" type="xs:string" />
						<!-- Aantal schade vrije jaren B/M -->
						<xs:element name="PP_SCHDVRY" type="xs:int" />
						<!-- B/M percentage -->
						<xs:element name="PP_BMPERC" type="PERCENTAGE" />
						<!-- B/M trede -->
						<xs:element name="PP_BMNAAND" type="xs:int" />

						<!-- Risico vragen -->
						<xs:element name="RI" minOccurs="0">
							<xs:complexType>
								<xs:sequence>

									<!--
					AWI:
					Bent u, of is een andere belanghebbende, ten aanzien van een soortgelijke verzekering(en) de afgelopen acht jaar geconfronteerd met een weigering, een opzegging of acceptatie onder beperkende voorwaarden? Zo ja, dan graag de bijzonderheden vermelden.
				-->
									<xs:element name="RI_AWI_1_ANTWOORD" type="ADNLOG" />
									<xs:element name="RI_AWI_1_TOELICHTING" type="TOELICHTING"  minOccurs="0" />
									
									
									<!-- Indien er sprake is van een toelichting op de aanvraag, de schadehistorie bekend is, of er een leaseverklaring aanwezig is, dan dient RI_AWI_2_ANTWOORD op J gezet te worden en RI_AWI_2_TOELICHTING gevuld te worden met de betreffende toelichting/leaseverklaring/schadehistorie -->
									<xs:element name="RI_AWI_2_ANTWOORD" type="ADNLOG" />
									<xs:element name="RI_AWI_2_TOELICHTING" type="TOELICHTING"  minOccurs="0" />

									<!-- Rijontzegging -->
									<xs:element name="RI_ONTRIJB" type="ADNLOG" />
									<!-- Toelichting op de rijontzegging -->
									<xs:element name="RI_RYBONTO" type="TOELICHTING"  minOccurs="0" />
									<!-- Jaar van de rijontzegging, indien voor 2005, 2004 invullen -->
									<xs:element name="RI_ROJAREN" type="xs:int" minOccurs="0" />
									<!-- Duur van de rijontzegging:
										1 = 0-48 uur
										2 = 48 uur tot 14 dagen
										3 = 14 dagen tot 3 maanden
										4 = 3 tot 6 maanden
										5 = 6 tot 12 maanden
										6 = meer dan 12 maanden -->
									<xs:element name="RI_RODUUR" type="xs:int" minOccurs="0" />

									<!-- Lichamelijke gebreken -->
									<xs:element name="RI_MEDIC" type="ADNLOG"/>
									<!-- Lichamelijke gebreken aantekening op rijbewijs -->
									<xs:element name="RI_AANTRIJ" type="ADNLOG" minOccurs="0"/>

									<!-- Strafrechtelijkverleden -->
									<xs:element name="RI_SRV" type="ADNLOG"/>
									<!-- Strafrechtelijkverleden welk jaar -->
									<xs:element name="RI_VSRJR" type="JAAR" minOccurs="0" />
									<!-- Strafrechtelijkverleden toelichting -->
									<xs:element name="RI_TSTRAFR" type="TOELICHTING" minOccurs="0" />

									<!-- Schade, Indien Ja SO element ook invullen -->
									<xs:element name="RI_EGD" type="ADNLOG"/>
									<!-- Aantal schades -->
									<xs:element name="RI_AANTSCH" type="xs:int"  minOccurs="0" />

									<!-- Geweigerd -->
									<xs:element name="RI_GEWEIGE" type="ADNLOG" />
									<!-- Geweigerd jaar -->
									<xs:element name="RI_GEWEIGJ" type="JAAR" minOccurs="0" />
									<!-- Geweigerd toelichting -->
									<xs:element name="RI_GEWEIGT" type="TOELICHTING" minOccurs="0" />

									<!-- Opzegging -->
									<xs:element name="RI_OPGEZGD" type="ADNLOG" />
									<!-- Opzegging jaar -->
									<xs:element name="RI_OPGEZGJ" type="JAAR" minOccurs="0" />
									<!-- Opzegging toelichting -->
									<xs:element name="RI_OPGEZGT" type="TOELICHTING" minOccurs="0" />

									<!-- Bijzondere voorwaarden -->
									<xs:element name="RI_BYZVRWE" type="ADNLOG"/>
									<!-- Bijzondere voorwaarden jaar -->
									<xs:element name="RI_BYZVRWJ" type="JAAR"  minOccurs="0" />
									<!-- Bijzondere voorwaarden toelichting -->
									<xs:element name="RI_BYZVRWT" type="TOELICHTING" minOccurs="0" />

									<!-- Overige melding -->
									<xs:element name="RI_OVERIGE" type="ADNLOG" />
									<!-- Overige melding toelichting -->
									<xs:element name="RI_OVERIGT" type="TOELICHTING" minOccurs="0" />

									<!-- B/M noclaim verklaring -->
									<xs:element name="RI_BMVERKL" type="ADNBMV" minOccurs="0" />

									<!-- Extra bonus tweede gezinsauto -->
									<xs:element name="RI_BONAUTO" type="ADNLOG" minOccurs="0" />

									<!-- Keuring geregeld -->
									<xs:element name="RI_KEURREG" type="ADNLOG" minOccurs="0" />
									<!-- Keurings datum -->
									<xs:element name="RI_KEUDAT" type="DATUM" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Schade history -->
						<xs:element name="SO" maxOccurs="3" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SO_VOLGNUM" type="xs:int"/>
									<xs:element name="SO_SCHJAAR" type="JAAR"/>
									<!-- Schade bedrag
									2000 =  EUR 0-2.000
									10000 = EUR 2.000-10.000
									20000 = meer dan EUR  10.000
									99999 = Onbekend / weet ik niet -->
									<xs:element name="SO_SCHBED" type="BEDRAG"/>
									<!-- Schade oorzaak ADN -->
									<xs:element name="SO_OORZAKC" type="ADNSOZ"/>
									<!-- Schade oorzaak CIS -->
									<xs:element name="SO_CISSOZ" type="CISSOZ"/>
									<!-- Vergoeding gekregen-->
									<xs:element name="SO_VERGOED" type="ADNLOG" minOccurs="0" />
									<!-- Schade incident omschrijving -->
									<xs:element name="SO_SINCIDO" type="TOELICHTING" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Schade -->
						<xs:element name="DM" maxOccurs="3" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Nummer van de schade 1-3 -->
									<xs:element name="DM_VOLGNUM" type="xs:int"/>
									<!-- Schade van invloed op B/M -->
									<xs:element name="DM_INVBMNC" type="ADNLOG"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Verzekeringnemer -->
						<xs:element name="VP">
							<xs:complexType>
								<xs:sequence>
									<!-- Relatienummer, kan leeg gelaten worden -->
									<xs:element name="VP_RELNUM" type="RELNUM"/>
									<!-- Aanvrager achternaam -->
									<xs:element name="VP_ANAAM" type="ACHTERNAAM"/>
									<!-- Aanvrager voorletter -->
									<xs:element name="VP_VOORL" type="VOORLETTERS"/>
									<!-- Aanvrager voorvoegsel -->
									<xs:element name="VP_VOORV" type="VOORVOEGSEL" minOccurs="0"/>
									<!-- Aanvrager geslacht -->
									<xs:element name="VP_GESLACH" type="ADNGES"/>
									<!-- Aanvrager straat -->
									<xs:element name="VP_STRAAT" type="STRAAT" />
									<!-- Aanvrager huisnr -->
									<xs:element name="VP_HUISNR" type="HUISNUMMER" />
									<!-- Aanvrager huisnr toevoeging -->
									<xs:element name="VP_TOEVOEG" type="HUISNUMMERTOEVOEGING" minOccurs="0" />
									<!-- Aanvrager postcode -->
									<xs:element name="VP_PCODE" type="POSTCODE" />
									<!-- Aanvrager woonplaats -->
									<xs:element name="VP_PLAATS" type="WOONPLAATS" />
									<!-- Aanvrager telefoon nr -->
									<xs:element name="VP_TELNUM" type="TEL" minOccurs="0" />
									<!-- Aanvrager mobiel telnr -->
									<xs:element name="VP_MOBIEL" type="TEL" minOccurs="0" />
									<!-- Aanvrager e-mail adres -->
									<xs:element name="VP_EMAIL" type="EMAIL" />
									<!-- Aanvrager geboortedatum -->
									<xs:element name="VP_GEBDAT" type="DATUM"/>
									<!-- Kan BTW terugvorderen LET OP: Indien het een zakelijke aanvraag betreft mag de aanvraag niet ingeschoten worden! -->
									<xs:element name="VP_EXCLBTW" type="ADNLOG"/>
									<!-- Aanvrager Opleidings niveau -->
									<xs:element name="VP_OPLEIDI" type="ADNOPL"/>
									<!-- Aanvrager IBAN Nummer -->
									<xs:element name="VP_IBAN" type="IBAN" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Regelmatige bestuurder -->
						<xs:element name="BS" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<!-- Relatienummer, kan leeg gelaten worden -->
									<xs:element name="BS_RELNUM" type="RELNUM"/>
									<!-- Regelmatige bestuurder achternaam -->
									<xs:element name="BS_ANAAM" type="ACHTERNAAM"/>
									<!-- Regelmatige bestuurder voorletters -->
									<xs:element name="BS_VOORL" type="VOORLETTERS"/>
									<!-- Regelmatige bestuurder voorvoegsel -->
									<xs:element name="BS_VOORV" type="VOORVOEGSEL" minOccurs="0"/>
									<!-- Regelmatige bestuurder geslacht -->
									<xs:element name="BS_GESLACH" type="ADNGES"/>
									<!-- Regelmatige bestuurder geboortedatum -->
									<xs:element name="BS_GEBDAT" type="DATUM"/>
									<!-- Relatie regelmatig bestuurder t.o.v. aanvrager -->
									<xs:element name="BS_RELSRTC" type="ADNBEG" minOccurs="0"/>
									<!-- Indien de aanvrager en de regelmatig bestuurder dezelfde persoon is, deze op J zetten, anders N -->
									<xs:element name="BS_AWI_HOOFDBESTUURDER" type="ADNLOG" />
									<!-- Regelmatige bestuurder straat -->
									<xs:element name="BS_STRAAT" type="STRAAT" />
									<!-- Regelmatige bestuurder huisnummer -->
									<xs:element name="BS_HUISNR" type="HUISNUMMER" />
									<!-- Regelmatige bestuurder huisnr toevoeging -->
									<xs:element name="BS_TOEVOEG" type="HUISNUMMERTOEVOEGING" minOccurs="0" />
									<!-- Regelmatige bestuurder woonplaats -->
									<xs:element name="BS_PLAATS" type="WOONPLAATS" />
									<!-- Regelmatige bestuurder postcode -->
									<xs:element name="BS_PCODE" type="POSTCODE" />
									<!-- Regelmatige bestuurder Land -->
									<xs:element name="BS_LAND" type="ISOLAN" />
									<!-- In bezit van geldig rijbewijs -->
									<xs:element name="BS_RIJGLDG" type="ADNLOG"/>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Object -->
						<xs:element name="OB" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
								<!-- Kan leeg gelaten worden -->
									<xs:element name="OB_ENTREF" type="RELNUM" />
									<!-- Uitvoering-->
									<xs:element name="OB_CARRESS" type="ADNUMR" />
									<!-- Aantal deuren -->
									<xs:element name="OB_ADEUR" type="xs:int" />
									<!-- Soort dak, standaard S-->
									<xs:element name="OB_DAKSRT" type="ADNSDA" />
									<!-- Merk -->
									<xs:element name="OB_MERK" type="xs:string" />
									<!-- Model -->
									<xs:element name="OB_MODEL" type="xs:string" />
									<!-- Type -->
									<xs:element name="OB_TYPE" type="xs:string" />
									<!-- Bouwjaar -->
									<xs:element name="OB_BOUWJR" type="JAAR" />
									<!-- Bouwmaand -->
									<xs:element name="OB_BOUWMND" type="xs:int" />
									<!-- beperken tot 8 charakters? -->
									<xs:element name="OB_KENTEKE" type="xs:string" />
									<!-- Meldcode -->
									<xs:element name="OB_MLDCODE" type="xs:string" />
									<!-- Brandstofsoort -->
									<xs:element name="OB_BRANSTO" type="ADNBRS" />
									<!-- Soort transmissie -->
									<xs:element name="OB_TRSOORT" type="ADNTRA" />
									<!-- TNO/SCM beveiligingsklasse -->
									<xs:element name="OB_TNOKLAS" type="ADNTSB" />
									<!-- Gebruik motorrijtuig, LET OP, indien zakelijk gebruik mag de aanvraag niet automatisch worden ingeschoten -->
									<xs:element name="OB_GEBRUIK" type="ADNMOT" />
									<!-- Aantak kw -->
									<xs:element name="OB_AANTKW" type="xs:int" />
									<!-- Gewicht in kilogrammen -->
									<xs:element name="OB_AFMWE" type="xs:int" />
									<!-- Dagwaarde -->
									<xs:element name="OB_DAGWRDE" type="BEDRAG" />
									<!-- Bedrag oorspronkelijke cataloguswaarde -->
									<xs:element name="OB_VWACA" type="BEDRAG" />
									<!-- Jaarkilometrage in kilometers -->
									<xs:element name="OB_AFMKM" type="xs:int" minOccurs="0" />
									<!-- Kilometerstand in kilometers -->
									<xs:element name="OB_AFMKMA" type="xs:int" minOccurs="0" />
									<!-- Bedrag waarde extra accessoires -->
									<xs:element name="OB_VWAAC" type="BEDRAG" />
									<!-- Bedrag audiovisuele apparatuur -->
									<xs:element name="OB_VWAAUD" type="BEDRAG" />
									<!-- Geimporteerd -->
									<xs:element name="OB_IMPOBJ" type="ADNLOG" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<!-- Aanvraag heeft altijd minimaal WA dekking. Indien de aanvraag casco is, dan zowel dekking WA als Dekking Casco insturen -->
						<!-- Dekking WA -->
						<xs:element name="WA" maxOccurs="1" minOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<!-- Kan leeg gelaten worden -->
									<xs:element name="WA_ENTREF" type="RELNUM"/>
									<!-- Eigenrisico -->
									<xs:element name="WA_ERB" type="BEDRAG"/>
									<!-- Dekkingcode, is altijd 2001 -->
									<xs:element name="WA_CODE" type="ADNDEK"/>
									<!-- Totaal premie -->
									<xs:element name="WA_TTOT" type="BEDRAG"/>
									<!-- Termijnbedrag toeslag -->
									<xs:element name="WA_TTSL" type="BEDRAG" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Dekking Casco -->
						<xs:element name="CA" maxOccurs="1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Kan leeg gelaten worden -->
									<xs:element name="CA_ENTREF" type="RELNUM"/>
									<!-- Dekkingcode, beperkt casco=2003, volledig casco=2003 -->
									<xs:element name="CA_CODE" type="ADNDEK"/>
									<!-- Totaal premie -->
									<xs:element name="CA_TTOT" type="BEDRAG"/>
									<!-- Bedrag eigen risico -->
									<xs:element name="CA_ERB" type="xs:int"/>
									<!-- Termijnbedrag toeslag -->
									<xs:element name="CA_TTSL" type="BEDRAG" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Dekking No-Claim B/M -->
						<xs:element name="DG" maxOccurs="1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Kan leeg gelaten worden -->
									<xs:element name="DG_ENTREF" type="RELNUM"/>
									<!-- Dekkingcode, ia altijd 2060 -->
									<xs:element name="DG_CODE" type="ADNDEK"/>
									<!-- Totaal premie -->
									<xs:element name="DG_TTOT" type="BEDRAG"/>
									<!-- Aantal schadevr.jaren B/M, Noclaim -->
									<xs:element name="DG_SCHDVRY" type="BEDRAG" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Dekking Schade inzittende -->
						<xs:element name="SV" maxOccurs="1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Kan leeg gelaten worden -->
									<xs:element name="SV_ENTREF" type="RELNUM"/>
									<!-- Dekkingcode, is altijd 1002 -->
									<xs:element name="SV_CODE" type="ADNDEK"/>
									<!-- Totaal premie -->
									<xs:element name="SV_TTOT" type="BEDRAG"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Dekking Rechtsbijstand motorrijtuigen -->
						<xs:element name="RP" maxOccurs="1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Kan leeg gelaten worden -->
									<xs:element name="RP_ENTREF" type="RELNUM"/>
									<!-- Dekkingcode is altijd 9110 -->
									<xs:element name="RP_CODE" type="ADNDEK"/>
									<!-- Totaal premie -->
									<xs:element name="RP_TTOT" type="BEDRAG"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<!-- Dekking accessoires -->
						<xs:element name="AQ" maxOccurs="1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<!-- Dekkingcode, is altijd 2050 -->
									<xs:element name="AQ_CODE" type="ADNDEK"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<!-- AL Codelijsten -->

	<xs:simpleType name="ADNFUN">
		<xs:restriction base="xs:string">
			<xs:pattern value="01"/>
			<!-- Nieuw -->
			<xs:pattern value="02"/>
			<!-- Wijzigingen -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNAFM">
		<xs:restriction base="xs:string">
			<!-- Versie 23C d.d. 20140901 -->
			<xs:pattern value="23C"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CPNAAM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ALIASZ">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- XG Codelijsten -->

	<xs:simpleType name="XGSTXT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- XM Codelijsten -->

	<xs:simpleType name="XMSTXT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- SO Codelijsten -->

	<xs:simpleType name="ADNSOZ">
		<xs:restriction base="xs:string">
			<!-- Aanrijding -->
			<xs:pattern value="H03"/>
			<!-- Parkeerschade / Beschadiging (F10) -->
			<xs:pattern value="F10"/>
			<!-- Ruitschade -->
			<xs:pattern value="F08"/>
			<!-- Inbraak/diefstal -->
			<xs:pattern value="E10"/>
			<!-- Hagel (A03) /Stormschade (A05) -->
			<xs:pattern value="A03"/>
			<!-- Vandalisme -->
			<xs:pattern value="F01"/>
			<!-- Overig -->
			<xs:pattern value="Z00"/>
			<!-- Weet ik niet -->
			<xs:pattern value="X99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CISSOZ">
		<xs:restriction base="xs:string">
			<!-- Voetganger / Fietser -->
			<xs:pattern value="112"/>
			<!-- Motorvoertuig -->
			<xs:pattern value="111"/>
			<!-- Dier -->
			<xs:pattern value="116"/>
			<!-- Gebouw -->
			<xs:pattern value="114"/>
			<!-- Overig -->
			<xs:pattern value="950"/>
			<!-- Weet ik niet -->
			<xs:pattern value="950"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- RI Codelijsten-->

	<xs:simpleType name="ADNBMV">
		<xs:restriction base="xs:string">
			<!-- B/M Noclaim verklaring aanwezig -->
			<xs:pattern value="A"/>
			<!-- Geen B/M Noclaim verklaring aanwezig -->
			<xs:pattern value="G"/>
			<!-- In bezit van verzekeringnemer -->
			<xs:pattern value="I"/>
			<!-- Anders -->
			<xs:pattern value="Z"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- PP Codelijsten -->

	<xs:simpleType name="EXTERN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PORMAA">
		<xs:restriction base="xs:string">
			<!-- Maatschappij aanduiding. Aan te vragen bij Sivi.org -->
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNINC">
		<xs:restriction base="xs:string">
			<!-- Acceptgiro -->
			<xs:pattern value="A"/>
			<!-- Incasso, automatisch -->
			<xs:pattern value="I"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNBTM">
		<xs:restriction base="xs:int">
			<!-- Maandelijks -->
			<xs:pattern value="1"/>
			<!-- Jaarlijks -->
			<xs:pattern value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNBRA">
		<xs:restriction base="xs:int">
			<!-- Motorrijtuigen -->
			<xs:pattern value="020"/>
			<!-- Auto -->
			<xs:pattern value="021"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="POLISNUMMER">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- VP Codelijsten -->

	<xs:simpleType name="ADNOPL">
		<xs:restriction base="xs:string">
			<!-- Lager onderwijs -->
			<xs:pattern value="1" />
			<!-- Middelbaar onderwijs -->
			<xs:pattern value="2" />
			<!-- Hoger onderwijs -->
			<xs:pattern value="3" />
			<!-- Wetenschappelijk onderwijs -->
			<xs:pattern value="4" />
			<!-- Creche -->
			<xs:pattern value="C" />
			<!-- Kinderdagverblijf -->
			<xs:pattern value="K" />
			<!--  Peuterspeelzaal -->
			<xs:pattern value="P" />
			<!-- Anders -->
			<xs:pattern value="Z" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISOLAN">
		<xs:restriction base="xs:string">
			<xs:pattern value="NL"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RELNUM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ACHTERNAAM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VOORLETTERS">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VOORVOEGSEL">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNGES">
		<xs:restriction base="xs:string">
			<!-- Man -->
			<xs:pattern value="M"/>
			<!-- Vrouw -->
			<xs:pattern value="V"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="STRAAT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HUISNUMMER">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HUISNUMMERTOEVOEGING">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="WOONPLAATS">
		<xs:restriction base="xs:string">
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="POSTCODE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TEL">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EMAIL">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="REKNR">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IBAN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- BS Codelijsten -->

	<xs:simpleType name="ADNBEG">
		<xs:restriction base="xs:string">
			<!-- Partner -->
			<xs:pattern value="T"/>
			<!-- Werkgever -->
			<xs:pattern value="WG"/>
			<!-- Werknemer -->
			<xs:pattern value="WN"/>
			<!-- Ouder -->
			<xs:pattern value="I"/>
			<!-- Kind -->
			<xs:pattern value="C"/>
			<!-- Anders -->
			<xs:pattern value="ZZ"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- OB Codelijsten -->

	<xs:simpleType name="ADNBRS">
		<xs:restriction base="xs:string">
			<!-- Aardgas -->
			<xs:pattern value="A"/>
			<!-- Benzine -->
			<xs:pattern value="B"/>
			<!-- Cryogeen -->
			<xs:pattern value="C"/>		
			<!-- Diesel -->
			<xs:pattern value="D"/>
			<!-- elektra -->
			<xs:pattern value="E"/>
			<!-- Biodiesel -->
			<xs:pattern value="F"/>
			<!-- Autogas (LPG) -->
			<xs:pattern value="G"/>
			<!-- Hybride -->
			<xs:pattern value="H"/>
			<!-- Hybride / Diesel -->
			<xs:pattern value="I"/>
			<!-- Hybride / Benzine -->
			<xs:pattern value="J"/>
			<!-- Hybride / LPG -->
			<xs:pattern value="K"/>
			<!-- Olie -->
			<xs:pattern value="O"/>
			<!-- Butagas -->
			<xs:pattern value="U"/>
			<!-- Waterstof -->
			<xs:pattern value="W"/>
			<!-- Alcohol -->
			<xs:pattern value="X"/>
			<!-- Anders -->
			<xs:pattern value="Z"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNSOM">
		<xs:restriction base="xs:string">
			<!-- Bestelnauto -->
			<xs:pattern value="BA"/>
			<!-- Personenauto -->
			<xs:pattern value="PA"/>
			<!-- Jeep -->
			<xs:pattern value="JE"/>
			<!-- Kampeerauto -->
			<xs:pattern value="KA"/>
			<!-- Limousine -->
			<xs:pattern value="LI"/>
			<!-- Kleinbus -->
			<xs:pattern value="KB"/>
			<!-- Grootbus -->
			<xs:pattern value="GB"/>
			<!-- Pickup -->
			<xs:pattern value="PI"/>
			<!-- Vrachtwagen -->
			<xs:pattern value="VA"/>
			<!-- Overig -->
			<xs:pattern value="ZZ"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNSDA">
		<xs:restriction base="xs:string">
			<!-- Hardtop -->
			<xs:pattern value="H"/>
			<!-- Softtop -->
			<xs:pattern value="I"/>
			<!-- Linnen -->
			<xs:pattern value="L"/>
			<!-- Standaard -->
			<xs:pattern value="S"/>
			<!-- Targa -->
			<xs:pattern value="T"/>
			<!-- Overig -->
			<xs:pattern value="Z"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNIEB">
		<xs:restriction base="xs:string">
			<!-- Exclusief BTW -->
			<xs:pattern value="E"/>
			<!-- Inclusief BTW -->
			<xs:pattern value="I"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNUMR">
		<xs:restriction base="xs:string">
			<!-- Niet van toepassing -->
			<xs:pattern value="1"/>
			<!-- Cabriolet -->
			<xs:pattern value="4"/>
			<!-- Coupe -->
			<xs:pattern value="5"/>
			<!-- Hatchback -->
			<xs:pattern value="6"/>
			<!-- MPV -->
			<xs:pattern value="7"/>
			<!-- Sedan -->
			<xs:pattern value="8"/>
			<!-- Stationwagen -->
			<xs:pattern value="9"/>
			<!-- SUV -->
			<xs:pattern value="10"/>
			<!-- Sportwagen -->
			<xs:pattern value="11"/>
			<!-- Terreinwagen -->
			<xs:pattern value="12"/>
			<!-- Bestelauto/VAN -->
			<xs:pattern value="13"/>
			<!-- Liftback -->
			<xs:pattern value="14"/>
			<!-- Pick-up -->
			<xs:pattern value="15"/>
			<!-- Autobusje -->
			<xs:pattern value="16"/>
			<!-- Bestelauto -->
			<xs:pattern value="20"/>
			<!-- VAN -->
			<xs:pattern value="21"/>
			<!-- Overig -->
			<xs:pattern value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNTRA">
		<xs:restriction base="xs:string">
			<!-- Automaat -->
			<xs:pattern value="A"/>
			<!-- Handmatig -->
			<xs:pattern value="H"/>
			<!-- Semi-Automaat -->
			<xs:pattern value="S"/>
			<!-- Continu Variabele Transmissie -->
			<xs:pattern value="V"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNMOT">
		<xs:restriction base="xs:string">
			<!-- Koerier -->
			<xs:pattern value="D"/>
			<!-- Goederenvervoer -->
			<xs:pattern value="G"/>
			<!-- Verhuur met chauffeur -->
			<xs:pattern value="J"/>
			<!-- Lesauto -->
			<xs:pattern value="L"/>
			<!-- Particulier -->
			<xs:pattern value="P"/>
			<!-- Taxi -->
			<xs:pattern value="T"/>
			<!-- Betaald personenvervoer -->
			<xs:pattern value="V"/>
			<!-- Zakelijk -->
			<xs:pattern value="Z"/>
			<!-- Anders -->
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNTSB">
		<xs:restriction base="xs:string">
			<!-- Klasse 1 -->
			<xs:pattern value="1"/>
			<!-- Klasse 2 -->
			<xs:pattern value="2"/>
			<!-- Klasse 3 -->
			<xs:pattern value="3"/>
			<!-- Klasse 4 -->
			<xs:pattern value="A4"/>
			<!-- Klasse 5 -->
			<xs:pattern value="A5"/>
			<!-- Anders -->
			<xs:pattern value="5"/>
			<!-- Fabriek ingebouwd alarm klasse 1 -->
			<xs:pattern value="6"/>
			<!-- Fabriek ingebouwd alarm klasse 2 -->
			<xs:pattern value="7"/>
			<!-- Fabriek ingebouwd alarm klasse 3 -->
			<xs:pattern value="8"/>
			<!-- Fabriek ingebouwd alarm klasse 4 -->
			<xs:pattern value="F4"/>
			<!-- Fabriek ingebouwd alarm klasse 5 -->
			<xs:pattern value="F5"/>
			<!-- Geen -->
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Generieke Codelijsten -->

	<xs:simpleType name="BEDRAG">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PERCENTAGE">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="JAAR">
		<xs:restriction base="xs:int">
			<xs:totalDigits value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PRODUCTCODE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TOELICHTING">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DATUM">
		<xs:restriction base="xs:string">
			<!-- EEJJMMDD conform type D1 AFD  -->
			<xs:maxLength value="8"/>
			<xs:pattern value="(((\d{4})(0[13578]|10|12)(0[1-9]|[12][0-9]|3[01]))|((\d{4})(0[469]|11)([0][1-9]|[12][0-9]|30))|((\d{4})(02)(0[1-9]|1[0-9]|2[0-8]))|(([02468][048]00)(02)(29))|(([0-9][0-9][13579][26])(02)(29)))?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNLOG">
		<xs:restriction base="xs:string">
			<xs:pattern value="J"/>
			<!-- Ja -->
			<xs:pattern value="N"/>
			<!-- Nee -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNDEK">
		<xs:restriction base="xs:int">
			<!-- Wetelijkaansprakelijkheid-->
			<xs:pattern value="2001"/>

			<!-- Casco-->
			<xs:pattern value="2002"/>
			<!-- Beperkt casco -->
			<xs:pattern value="2003"/>

			<!-- B/M Noclaim garantie -->
			<xs:pattern value="2060"/>

			<!-- Schadeverzekering in-/opzittenden -->
			<xs:pattern value="1002"/>

			<!-- Rechtsbijstand motorrijtuigen -->
			<xs:pattern value="9110"/>
			
			<!-- Accessoires -->
			<xs:pattern value="2050" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ADNENT">
		<xs:restriction base="xs:string">
			<!-- Werkgever -->
			<xs:pattern value="VP"/>
			<!-- Werknemer -->
			<xs:pattern value="VP"/>

		</xs:restriction>
	</xs:simpleType>

</xs:schema>